body {
  background-color: rgb(160, 218, 241);
}
h1 {
  color: darkblue;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}
h2 {
  color: darkslategray;
  text-align: center;
  font-weight: bold;
}

table {
  /*overflow-x: auto;*/
  width: 100%;
  /*position: absolute;*/
  border: 5px solid black;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}
thead {
  height: 40px;
  background-color: rgb(27, 27, 27);
  color: whitesmoke;
  text-align: center;
  position: sticky;
  top: 0;
}
th {
  text-align: center;
}
th td {
  padding: 0.15rem;
  border-bottom: 1px solid #ddd;
}
tbody tr.active-row {
  font-weight: bold;
}
tr:hover {
  background-color: gray;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
